body {
  font-family: "premiera book", georgia, serif;
}

.navbar {
  background-color: #F8F8F8;
}

.navbar li {
  padding: 20px;
  font-size: 18px;
}

.active {
  background-color: #428BCA;
}

p {
  font-size: 14px;
}